.footer {
    @apply .mx-auto .w-full .px-4 .text-center .text-sm .text-grey-dark .pb-6;
    padding-top: 40px;
    padding-bottom: 200px;
    background: transparent url('/img/footer.png') bottom center no-repeat;
    background-size: contain;
}

.twitch-icon {
    .fa-circle {
        color: #6441A4;     
    }
    &:hover {
        color: #6441A4;
        .fa-circle {
            @apply .text-white;
        }
    }
}

.twitter-icon {
    .fa-circle {
        color: #1DA1F2;     
    }
    &:hover {
        color: #1DA1F2;
        .fa-circle {
            @apply .text-white;
        }
    }
}

.github-icon {
    .fa-circle {
        color: black;
    }

    &:hover {
        color: black;
        .fa-circle {
            @apply .text-white;
        }
    }
}