
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

// Forms
.input {
	@apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-2 .text-grey-darker .mb-3;
}

.label {
	@apply .block .text-grey-darker .text-sm .font-bold .mb-2;
}

.form-title {
	@apply .text-center .text-grey-dark .mt-8 .mb-6 .uppercase;
}

.card {
	@apply .bg-white .shadow-md .rounded .px-8 .pt-6 .pb-8 .mb-4;
}

.btn {
	@apply .text-white .font-bold .py-2 .px-4 .rounded .no-underline;
}

.page-title {
	@apply .py-6 .font-normal .text-xl .text-grey-dark;
}

a {
	@apply .text-blue .no-underline;
}

.bg-light {
	background-color: rgba(255,255,255,0.65);
}

.border-brand {
	border-color: #EE7F3C;
}

.logo {
	color: #8c9da5;
	font-family: 'Rationale', sans-serif;
	display: inline-block;
	cursor: pointer;
	font-size: 2rem;

	img {
		vertical-align: bottom;
		max-width: 40px;		
	}
}

.input-focus {
	@apply .text-grey-lighter .bg-transparent .border-none .shadow-none;

	&:focus {
		@apply .bg-white .text-grey-darker;
	}
}

.slug {
	@apply .rounded .text-xs .mb-2 .px-1 .w-full .inline-block;
	@extend .input-focus;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

// Bring in the font
@import url("https://fonts.googleapis.com/css?family=Rationale|Source+Code+Pro|Avenir:200,300,400,600,700");

@import url('../../../node_modules/highlight.js/styles/agate.css');
@import url('../../../node_modules/vue-toast/dist/vue-toast.min.css');

// ====
body {
    font-family: 'Avenir', sans-serif;
    @apply .bg-grey-lighter;
    background: #FAF6F2 url('/img/bg.jpg') 0 175px fixed no-repeat;
    background-size: cover;
}

// html, body, .wrap, #app {
// 	height: 100%;
// }

h3, h4 {
	@apply .mt-6 .mb-2;
}

.font-heading {
	font-family: 'Rationale', 'Source Code Pro', sans-serif;
}

.twitch-icon {
	.fa-circle {
		color: #6441A4;		
	}
	&:hover {
		color: #6441A4;
		.fa-circle {
			@apply .text-white;
		}
	}
}

.twitter-icon {
	.fa-circle {
		color: #1DA1F2;		
	}
	&:hover {
		color: #1DA1F2;
		.fa-circle {
			@apply .text-white;
		}
	}
}

.wrap {
	background-color: rgba(255,255,255, 0.6);	
}

.navbar-admin {
	@apply .flex .items-center .bg-blue .justify-between .flex-wrap .px-4 .py-1;
}

.page-bar {
	@apply .flex .flex-row .items-center .px-2 .text-white .bg-grey-darker;
}

.admin-title-bar {
	@apply .flex .flex-row .items-center .bg-grey-light .px-2;

	h1 {
		@apply .text-base;
	}
}

.footer {
	@apply .mx-auto .w-full .px-4 .text-center .text-sm .text-grey-darker .pb-6;
	padding-top: 120px;
	padding-bottom: 32px;
}

.editor-preview pre, .editor-preview-side pre {
	@apply .my-2;
}

.hljs {
	@apply .rounded .p-4 .block .mb-4;
}

li {
	@apply .mb-4;
}

// Navigation
.nav-item {
	@apply .block .text-grey .no-underline .py-4 .px-2 .pl-6;

	&:hover {
		@apply .text-teal-dark .bg-grey-lighter;
	}

	&.active {
		@apply .text-white .bg-orange;
	}
}

@screen lg {
	.navbar-admin {
		text-shadow: -1px 1px 0px rgba(0,0,0, 0.3);
	}

	.admin-title-bar {
		@apply .text-sm;

		h1 {
			@apply .text-lg;
		}
	}
	
	.nav-item {
		@apply .inline-block .mt-0 .text-orange-lighter .bg-transparent;

		&:hover {
			@apply .text-white .bg-transparent;
		}

		&.active {
			@apply .text-white .bg-transparent;
		}
	}
}

// Set z-index specifically so toasts aren't behind simpleMDE
.vue-toast-manager_container {
	@apply .z-10;
}

.vue-toast_container {	
	&._info .vue-toast_message {
		@apply .bg-blue-light;
	}
	&._success .vue-toast_message {
		@apply .bg-teal-dark;
	}
	&._warning .vue-toast_message {
		@apply .bg-orange;
	}
	&._errpr .vue-toast_message {
		@apply .bg-red-light;
	}
}

.vue-toast_message {
	@apply .rounded .px-3;
}

@import 'tables';